.editBtn {
  border: none;
  background: lightblue;
  margin-right: 5px;
  padding-bottom: 6px;
}

li {
  margin: 5px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}

#text3 {
  padding: 4px;
}
